<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ahmedd.firabasetest">

    <!-- permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/duck"
        android:label="@string/chat_duck"
        android:roundIcon="@drawable/duck"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".StartActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".StartActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".MessageActivity" />

        <receiver
            android:name=".Receivers.WIFIBroadCastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ResetPasswordActivity"
            android:parentActivityName=".LoginActivity" />
        <activity android:name=".photosActivity"></activity>
        <activity android:name=".PhotoActivity"></activity>
    </application>

</manifest>